<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>作品展示 - 零度花艺</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__\css\lingdu.css">
    <!--我自己写的CSS
    <link rel="stylesheet" href="your.css">
    -->
    <script src="__PUBLIC__\js\jquery.js"></script>
    <script src="__PUBLIC__\js\lingdu.js"></script>
    <script src="__PUBLIC__\js\respond.js"></script>
  </head>
  <body>
  
  <!--导航-->
    <div class="demo-nav padding-big-top padding-big-bottom" style="height:71px">
    <div class="container padding-top padding-bottom">
    
      <div class="line">
        <div class="xl12 xs3 xm3 xb2"><button class="button icon-navicon float-right" data-target="#header-demo"></button><a target="_blank" href="{:U('Index/index')}"><img src="__PUBLIC__/images/ilogo2.png" alt="" /></a></div>
        <div class=" xl12 xs9 xm9 xb10 nav-navicon" id="header-demo">
    
          <div class="xs8 xm6 xb5 padding-small">
            <ul class="nav nav-menu nav-inline nav-big">

              <li><a href="" style="font-weight:bold;">作品展示</a></li>
              <li><a href="" style="font-weight:bold;">花艺师</a></li>
              <li><a href="" style="font-weight:bold;">花艺生活</a></li>
                 
            </ul>
          </div>
                
        </div>
    
      </div>
    
    </div>
    
    </div>
    
  	<br/>
<!--
	主要容器
			-->

  <div class="container bg-back" style="background-color:#F7F7F7 ;">
  <!--
		辅助导航
				-->
	<div class="navbar navbar-big bg-inverse radius bg-blue">
    	<div class="x8">
  		  <button class="button icon-navicon" data-target="#nav-pills6"></button>
			<ul class="nav nav-menu nav-inline nav-pills  nav-big nav-navicon" id="nav-pills6">
			  <li class="nav-head" style="color:black;">
			  <span class="icon-sitemap">&nbsp作品分类</span>
			  </li>
			  <li>
			  	<a href="" ><strong><span class="icon-heart-o">&nbsp婚礼花艺</span></strong></a>
			  </li>
			  <li>
			  	<a href="" ><strong><span class="icon-suitcase">&nbsp商务花艺</span></strong></a>
			  </li>
			  <li>
			  	<a href="" ><strong><span class="icon-gift">&nbsp礼品花艺</span></strong></a>
			  </li>
			  <li>
			  	<a href="" ><strong><span class="icon-home">&nbsp居家花艺</span></strong></a>
			  </li>
			</ul>
		</div>
      </div> 
      <br/>

<!--
  	婚礼花艺
  	  		 -->
  	 <!--导航条-->
    <div class="line">
      <div class="x6">
        
            <a href="#"><h2><span class="text-indent text-sub icon-heart-o ">&nbsp&nbsp婚礼花艺&nbsp&nbsp&nbsp</span><a href="#"><span class="tag bg-sub">更多</span></a></h2></a>
      
    </div>
    </div>
    <br/><br/>


<div class="line">
	<div class="x11 x1-move">
	<!--1-->
		<div class="">
			<div class="media media-y " style="float:left;margin:auto auto auto 6%">
  				<a class="" href="#">
    				<img src="..\pic\d1.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein" />
  				</a>
  				<div class="media-body">
    				<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span>xxx</span><br/>
    				<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  			</div>
  	  		</div>
  	  		<div class="float-left" style="margin:auto auto auto 1%">
  				<div class="media-body">
    				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d4.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div><br/>
  	  				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d5.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div><br/>
  	  				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d6.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div>
    			</div>
			</div>
		</div>


		
		<!--2-->
		<div class="">
			<div class="media media-y " style="float:left;margin:auto auto auto 6%">
  				<a class="" href="#">
    				<img src="..\pic\d1.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein" />
  				</a>
  				<div class="media-body">
    				<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    				<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  			</div>
  	  		</div>
  	  		<div class="float-left" style="margin:auto auto auto 1%">
  				<div class="media-body">
    				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d4.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div><br/>
  	  				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d5.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div><br/>
  	  				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d6.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div>
    			</div>
			</div>
		</div>
		<!--3-->
		<div class="">
			<div class="media media-y " style="float:left;margin:auto auto auto 6%">
  				<a class="" href="#">
    				<img src="..\pic\d1.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein" />
  				</a>
  				<div class="media-body">
    				<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    				<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  			</div>
  	  		</div>
  	  		<div class="float-left" style="margin:auto auto auto 1%">
  				<div class="media-body">
    				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d4.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div><br/>
  	  				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d5.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div><br/>
  	  				<div class="">
  						<a href="#">
    	  					<img src="..\pic\d6.jpg" width="60" height="65" class="img-border radius-big padding-little swing-hover fadein-left" />
  						</a>
  	  				</div>
    			</div>
			</div>
		</div>

	</div>
	
</div>


 <br/><br/>
<hr style="color:#D3D3D3;height:2px;" />
<br/>


<!--
  	商务花艺
  			-->
  <!--导航条-->
	<div class="line">
  		  <div class="x6">
        
            <a href="#"><h2><span class="text-indent text-sub icon-suitcase">&nbsp&nbsp商务花艺&nbsp&nbsp&nbsp</span><a href="#"><span class="tag bg-sub">更多</span></a></h2></a>
      
    </div>
    </div>
    <br/><br/>
<!--
	展示2
		-->

<div class="line">
	<div class="x12">
		<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    		<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>
	</div>
</div>

<br/><br/>
<hr style="color:#D3D3D3;height:2px;" />
<br/><br/>

<!--
  	礼品花艺
  			-->
  <!--导航条-->
 	<div class="line">
<div class="x6">
        
            <a href="#"><h2><span class="text-indent text-sub icon-gift">&nbsp&nbsp礼品花艺&nbsp&nbsp&nbsp</span><a href="#"><span class="tag bg-sub">更多</span></a></h2></a>
      
    </div>
    </div>
    <br/><br/>
<!--
	展示3
		-->
<div class="line">
	<div class="x12">
		<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>
	</div>
</div>

<br/><br/>
<hr style="color:#D3D3D3;height:2px;" />
<br/><br/>


<!--
  	居家花艺
  			-->
  <!--导航条-->
 	<div class="line">
  		  <div class="x6">
        
            <a href="#"><h2><span class="text-indent text-sub icon-home">&nbsp&nbsp居家花艺&nbsp&nbsp&nbsp</span><a href="#"><span class="tag bg-sub">更多</span></a></h2></a>
      
    </div>
    </div>
    <br/><br/>
<!--
	展示4
		-->
<div class="line">
	<div class="x12">
		<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>

	  	<div class="media media-y float-left"style="margin:auto auto auto 8%">
  			<a href="#">
  				<img src="..\pic\d7.jpg" width="180" height="240" class="img-border radius-big padding-little swing-hover fadein-top" />
  			</a>
  	  	  	<div class="media-body">
    			<span class="text-center icon-user  text-sub" style="">&nbsp发布人：</span><span name="">xxx</span><br/>
    			<span class="text-center icon-eye text-sub"style="">&nbsp点击量：<span class="badge bg-red-light">123</span></span>
  	  		</div>
	  	</div>
	</div>
</div>

<br/><br/>
<hr style="color:#D3D3D3;height:2px;" />
<br/><br/>

  </div>



<!-- 底部通用模版-->
    <div class="layout bg-gray bg-inverse" style="width:100%">
      <div class="container">
        <div class="navbar" >
          
          <div class="navbar-body nav-navicon" id="navbar-footer">
            <div class="navbar-text hidden-s hidden-l" style="text-align:center">版权所有 &copy; <a href="http://www.pintuer.com" target="_blank">#</a> All Rights Reserved，蜀ICP备：380959609</div>
         
          </div>
        </div>
      </div>
    </div>
<!--模版结束-->




  </body>
</html>